<div class="col-md-12 well">
    <div class="row">
        <div class="col-md-2 text-muted">
            <span ng-if="focusedAlpaca.trackerID !== NULL"><strong>Tracker ID:</strong> <span ng-bind="focusedAlpaca.trackerID"></span></span>
        </div>
        <div class="col-md-8 text-center">
            <h2 class="text-primary" style="margin-top: 0;">Details about <span ng-bind="focusedAlpaca.name"></span></h2>
        </div>
        <div class="col-md-2 text-right">
            <span class="text-muted" ng-if="focusedAlpaca.trackerBatteryLife !== NULL">Tracker Battery Life:</span>
            <div class="progress" ng-if="focusedAlpaca.trackerBatteryLife !== NULL">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{focusedAlpaca.trackerBatteryLife}}" aria-valuemin="0" aria-valuemax="100" style="width: {{focusedAlpaca.trackerBatteryLife}}%;">
                    {{focusedAlpaca.trackerBatteryLife}}
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4 col-md-offset-4">
            <dl class="dl-horizontal">
                <dt ng-if="focusedAlpaca.temperature !== NULL">Temperature</dt>
                <dd ng-bind="focusedAlpaca.temperature"></dd>
                <dt ng-if="focusedAlpaca.heartRate !== NULL">Heart Rate</dt>
                <dd ng-bind-html="focusedAlpaca.heartRate | number: 2"></dd>
                <dt ng-if="focusedAlpaca.heading !== NULL">Heading</dt>
                <dd ng-bind-html="focusedAlpaca.heading | number: 2"></dd>
                <dt ng-if="focusedAlpaca.lat !== NULL">Latitude</dt>
                <dd ng-bind-html="focusedAlpaca.lat | number: 2"></dd>
                <dt ng-if="focusedAlpaca.lng !== NULL">Longitude</dt>
                <dd ng-bind-html="focusedAlpaca.lng | number: 2"></dd>
                <dt ng-if="focusedAlpaca.altitude !== NULL">Altitude</dt>
                <dd ng-bind-html="focusedAlpaca.altitude | number: 2"></dd>
                <dt ng-if="focusedAlpaca.pitch !== NULL">Pitch</dt>
                <dd ng-bind-html="focusedAlpaca.pitch | number: 2"></dd>
                <dt ng-if="focusedAlpaca.roll !== NULL">Roll</dt>
                <dd ng-bind-html="focusedAlpaca.roll | number: 2"></dd>
            </dl>
        </div>
    </div>
</div>