<section class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 well" style="margin-top: 10%;">
            <form name="loginForm" ng-submit="login(user)">
                <h2 class="text-center" style="margin: 0 0 20px 0;">Login to Alpaca Tracker</h2>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" ng-model="user.username" placeholder="Username" required autofocus />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" ng-model="user.password" placeholder="Password" required />
                </div>
                <h5 class="text-danger" ng-bind="loginError"></h5>
                <div class="text-right">
                    <a href="/register" class="btn btn-primary">Register</a>
                    <button type="submit" class="btn btn-success" ng-disabled="loginForm.$invalid">Login</button>
                </div>
            </form>
        </div>
    </div>
</section>